/*___Geral___*/
.container-fluid{
	padding: 120px 0px 120px 0px;
}
.title{
	font-family: nunito;
	color: #000;
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
	text-shadow: 0px 0px 3px #333;
}
.text{
	font-family: nunito;
	color: #232323;
	font-size: 18px;
	letter-spacing: 0.9px;
	font-weight: bold;
}

#Sobre, #Timeline, #Contato{
	background-color: rgba(0, 0, 255, 0.3);
}
#Habilidades, #Portfólio, #Criacoes{
	background-color: #fcfcfc;
}

/* Barra de Navegação */
#barra_nav{
	background-color: rgba(255, 108, 14);
	opacity: 0.8;
	padding-right: 50px;
	box-shadow: 0px 2px 4px #232323;
}
#nav_item{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fcfcfc;
	font-family: nunito;
	margin: 0px 8px 0px 8px;
	text-shadow: 2px 2px 1px #000;
}
#nav_item:hover{
	color: #000;
	transform: scale(1.15);
	-ms-transform: scale(1.15);	/* IE 9 */
	-webkit-transform: scale(1.15);	/* Safari */
	transition-duration: 0.4s;
	text-shadow: 1px 1px 2px #fcfcfc;
}

/* Seção Inicial */
#Inicio{
	background: url(midia/start.jpg) no-repeat center fixed;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
}
.img_perfil{
	background: url(midia/foto.png) no-repeat center;
	background-size: cover;
	width: 240px;
	height: 240px;
	margin: 0px auto 50px auto;
	border-radius: 50%;
}
.fa-firefox{
	color: rgba(255, 108, 14);
}

/* Seção Habilidades */
.text-j{
	font-family: lora;
	color: #000;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0.5px #333;
}
.sk1{
	background: url(midia/sk1.jpg) no-repeat center;
}
.sk2{
	background: url(midia/sk2.png) no-repeat center;
}
.sk3{
	background: url(midia/sk3.png) no-repeat center;
}
.sk4{
	background: url(midia/sk4.png) no-repeat center;
}
.sk1, .sk2, .sk3, .sk4{
	background-size: cover;
	width: auto;
	height: 200px;
	margin: 0px auto 10px auto;
}

/* Seção Portfólio */
#bp{
	position:absolute;
	right:0;
}
.img{
	max-width: 100%;
	min-width: 100%;
	min-height: 180px;
	max-height: 180px;
	margin: 10px 0px 10px 0px;
	box-shadow: 0px 1px 5px grey;
}
.imgf{
	max-width: 100%;
	max-height: 100%;
}
.text_port{
	color: #fcfcfc;
	margin: 10px 15px 10px 15px;
	opacity: 0;
}
.text_port:hover{
	background: rgba(0, 0, 0, 0.8);
	opacity: 1;
	transition-duration: 0.6s;
}

/* Seção Contato */
.map-container{
	background-color: rgb(35,35,35,0.6);
	height: 500px;
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%;
	border: 3px double #fcfcfc;
	border-radius: 10px;
}
.map-container iframe{
	left: 1px;
	top: 1px;
	width: 99.6%;
	height: 99.5%;
	position:absolute;
	border-radius: 6px;
}
#icon{
	font-size: 40px;
	color: rgba(255, 108, 14);
	opacity: 0.7;
	margin: 0px 30px 45px 30px;
	text-shadow: 2px 3px 2px #000;
}
#icon:hover{
	opacity: 1;
	transform: scale(1.2);
	-ms-transform: scale(1.2);	/* IE 9 */
	-webkit-transform: scale(1.2);	/* Safari */
	transition-duration: 0.4s;
}

/*Seção Criacoes*/
.slick{
	width: 88%;
	height: 100%;
	max-height: 350px;
	margin-left: 4%;
}
.img_carossel{
	margin: 0px 10px 10px 0px;
	box-shadow: 0px 2px 4px #232323;
	border-radius: 50%;
}

/* Footer */
.ft{
	background-color: #111;
	color: #fcfcfc;
	padding: 50px 0px 30px 0px;
}
